GH_TOKEN=your_github_personal_access_token
API_KEY=your_api_key_for_external_auth
MODEL_SECRET=your_secret_for_internal_model_auth
UPSTASH_REDIS_URL=your_upstash_redis_rest_url
UPSTASH_REDIS_TOKEN=your_upstash_redis_rest_token
